.itemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}

.buttonsQuantity {
    display: flex;
    border: solid 1px black;
    background-color:lightgray;
    align-items: center;
    /* margin: 5px auto; */
}

.contador {
    width: 18px;
    font-weight: 600;
    background-color:lightgray;
    align-items: center;
    margin: 0px 6px;
}

.buttonsQuantity .buttonSign:focus {
    box-shadow: none important;
    border: none important;
}

.buttonsQuantity .buttonSign:hover {
    box-shadow: none important;
    border: none important;
}
